<div class="container text-center">
  <h1>Notre équipe</h1>
  <p class="lead">Nous sommes une équipe de 6 étudiants passionnés et motivés qui travaillent dur pour offrir une expérience de shopping en ligne exceptionnelle. Nous sommes tous issus de parcours différents, avec des compétences et des expériences variées, ce qui nous permet de travailler efficacement ensemble et de relever tous les défis qui se présentent à nous. Nous sommes convaincus que notre détermination, notre créativité et notre esprit d'équipe nous permettront de réaliser notre objectif de créer une plateforme de market place innovante et réussie. Nous sommes fiers de notre travail et nous sommes impatients de voir notre projet prendre vie.</p>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <%= image_tag "equipe/oli.png", alt: "Photo de Oli", class: "img-thumbnail" %>
      <h4 class="text-center mt-3 mb-0">Olivier</h4>
    </div>
    <div class="col-md-4 col-sm-6">
      <%= image_tag "equipe/victor.png", alt: "Photo de Victor", class: "img-thumbnail" %>
      <h4 class="text-center mt-3 mb-0">Victor</h4>
    </div>
    <div class="col-md-4 col-sm-6">
      <%= image_tag "equipe/faouzi.png", alt: "Photo de Faouzi", class: "img-thumbnail" %>
      <h4 class="text-center mt-3 mb-0">Faouzi</h4>
    </div>
    <div class="col-md-4 col-sm-6">
      <%= image_tag "equipe/philipe.png", alt: "Photo de Philipe", class: "img-thumbnail" %>
      <h4 class="text-center mt-3 mb-0">Philipe</h4>
    </div>
    <div class="col-md-4 col-sm-6">
      <%= image_tag "equipe/isabelle.png", alt: "Photo de Isabelle", class: "img-thumbnail" %>
      <h4 class="text-center mt-3 mb-0">Isabelle</h4>
    </div>
    <div class="col-md-4 col-sm-6">
      <%= image_tag "equipe/nasser.png", alt: "Photo de Nasser", class: "img-thumbnail" %>
      <h4 class="text-center mt-3 mb-0">Nasser</h4>
    </div>
  </div>
</div>


<style>
  h1, p {
    color: black;
  }
</style>