<h1>Passer à la caisse</h1>

<%= link_to "Retour", :back, class: "btn btn-secondary" %>

<p><%= @item.title %></p>
<%= image_tag @item.photo, width: 100 if @item.photo.attached? %>
<p><%= @item.description %></p>
<p><%= @item.price %>€</p>


<script>
    const form = document.querySelector('form');
    const streetInput = document.querySelector('#transaction_street');
    const zipCodeInput = document.querySelector('#transaction_zip_code');
    const cityInput = document.querySelector('#transaction_city');
    const submitButton = document.querySelector('input[type="submit"]');

    function validateForm() {
      const streetValue = streetInput.value.trim();
      const zipCodeValue = zipCodeInput.value.trim();
      const cityValue = cityInput.value.trim();

      if (streetValue === '' || zipCodeValue === '' || cityValue === '') {
        submitButton.disabled = true;
      } else {
        submitButton.disabled = false;
      }
    }

    streetInput.addEventListener('input', validateForm);
    zipCodeInput.addEventListener('input', validateForm);
    cityInput.addEventListener('input', validateForm);
  </script>


<% end %>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
        data-description="Achat <%= @item.title %>"
        data-amount="<%= @item.price * 100 %>"
        data-currency="eur">
</script>

