<p style="color: green"><%= notice %></p>



<h1>Items</h1>

<div id="items">
  <% @items.each do |item| %>
    <%= image_tag item.photo, width: 100 if item.photo.attached? %>
    <%= render item %>
    <p>
      <%= link_to "Show this item", item %>
    </p>
    <p></p>
  <% end %>
</div>

<%= link_to "New item", new_item_path %>
