<div class="jumbotron text-center " style="border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
  <div class="container">
    <h1 class="display-">Sell and Buy : La solution idéale pour vos besoins en ligne de vente et d'achat.</h1>
    <p class="lead fs-5">Rejoignez Sell and Buy dès aujourd'hui pour profiter d'une expérience d'achat et de vente en ligne sûre et fiable. Trouvez des offres incroyables sur une variété de produits, de vêtements aux produits électroniques. Notre processus de commande simple et notre paiement sécurisé garantissent une expérience sans tracas pour tous vos besoins d'achat et de vente en ligne.</p>
    <% if user_signed_in? %>
      <%= link_to "Créer une annonce maintenant", new_item_path, class: "btn btn-primary btn-lg mb-3", role: "button" %>
    <% else %>
      <%= link_to "Nous rejoindre", new_user_registration_path, class: "btn btn-primary btn-lg mb-3", role: "button" %>
    <% end %>
  </div>
</div>

<div class="container my-4">
  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> text-center" role="alert">
      <%= msg %>
    </div>
  <% end %>
</div>

<h1 class="text-center mb-5 pb-3">Découvrez les offres exceptionnelles de nos annonces actuelles !</h1>

<div id="items" class="row row-cols-3">
  <% @items.each do |item| %>
    <div class="col col-md-4">
      <div class="card shadow text-dark">    
        <h3><%= item.title %></h3>
        <%= link_to item_path(item), class: 'item', 'data-turbo-frame': '_top' do %>
          <%= image_tag(item.photo, width: 200) if item.photo.attached? %>
          <div class="card-body text-center">
            <p>
              <strong>Category:</strong>
              <%= link_to item.category.name, item.category, class: 'category-link' %>
            </p>
            <p><%= number_to_currency(item.price, unit: "€", format: "%n %u") %></p>
            <%= link_to 'Voir le produit', item, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

