<div class="container text-center mx-auto">
  <div class="row">
    <div class="col-md-6 text-center mx-auto">
      <%= render @item %>
      <p class="lead" style="color:black;"><strong>Prix :</strong> <%= @item.price %>€</p>
      <p class="lead" style="color:black;"><strong>Description :</strong> <%= @item.description %></p>
      <% if user_signed_in? %>
      <% if current_user.id == @item.user_id || current_user.admin %>
      <%= link_to "Modifier cet article", edit_item_path(@item), class: 'btn btn-outline-secondary' %>
      <%= button_to "Supprimer cet article", @item, { method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'btn btn-outline-danger' } %>
      <% end %>
      <% end %>
      
      <%= link_to "Retour aux articles", items_path, class: 'btn btn-outline-primary' %>
      
      <% if user_signed_in? %>
        <%= form_with model: @transaction, url: item_transactions_path(@item), local: true do |form| %>
          <div class="form-group">
            <%= form.label :street, "Rue" %>
            <%= form.text_field :street, class: 'form-control', placeholder: 'Entrez votre adresse' %>
          </div>

          <div class="form-group">
            <%= form.label :zip_code, "Code postal" %>
            <%= form.text_field :zip_code, class: 'form-control', placeholder: 'Entrez votre code postal' %>
          </div>

          <div class="form-group">
            <%= form.label :city, "Ville" %>
            <%= form.text_field :city, class: 'form-control', placeholder: 'Entrez votre ville' %>
          </div>

          <%= form.hidden_field :item_id, value: @item.id %>

          <%= form.submit "Passer au paiement", id: "submit-button", class: 'btn btn-success btn-lg btn-block' %>
        <% end %>
      <% else %>
        <%= link_to_if(!user_signed_in?, "Passer au paiement", new_user_registration_path, class: 'btn btn-success btn-lg btn-block') %>
      <% end %>
      
    </div>
  </div>
</div>