
<div id="<%= dom_id category %>">
  <h2>
    <%= category.name %>
  </h2>

  <% category.items.each do |item| %>
    <p>
    <%= item.title %> | <%= item.price %>€ | <%= link_to "Voir le produit", item %>
    </p>
    <% end %>
</div>