<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "les Ventes", items_path, class: "nav-link" %>
      </li>
      
      <li class="nav-item">
          <%= link_to "ma Sélection", items_path, class: "nav-link" %>
      </li>

      <%#
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
          Log
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    #%>


    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
    </form>
  </div>


  <ul>
  <% if user_signed_in? %>
     <li>
         <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
     </li>
  <li>
         Bienvenue  <%= current_user.email %>
     </li> 
    
  <li>
         <%= link_to "Edit email / password", edit_user_registration_path %>
     </li>
<% else %>
     <li>    
         <%= link_to "Sign in", new_user_session_path %>
    </li>
 <li>
         <%= link_to "Sign up", new_user_registration_path %>
   </li>
<% end %>
</ul>


</nav>