<!DOCTYPE html>
<html>
  <head>
    <title>GitFlow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag 'sellandbuy_Logo.png' %>
    </head>

  
  <body>
  <%= render 'layouts/navbar' %> 



    <%= yield %>

<%= render 'layouts/footer' %>
  </body>
</html>
